<!-- home section starts  -->

<section class="home" id="home">
    <h3>HI THERE !</h3>
    <h1>I'M <span>Mohamed Samir</span></h1>
    <p>
        Software developer working as a full-Stack development with its related frameworks passing by all in between technologies. Seeking a position as Back-end laravel Developer where I can use my skills and education to achieve my life goals and Maintaining
        strong performance through work to improve my skills and brings out my practical expertise to expand and grow my knowledge for any company.
    </p>
    <a href="#about"><button class="btn">about me <i class="fas fa-user"></i></button
  ></a>
</section>

<!-- home section ends -->