<!-- about section starts  -->

<section class="about" id="about">
    <h1 class="heading"><span>about</span> me</h1>

    <div class="row">
        <div class="info col-4">
            <h3><span> name : </span> Mohamed Samir</h3>
            <h3><span> age : </span> 25</h3>
            <h3><span> qualification : </span> High Education</h3>
            <h3><span> post : </span> Back-End Web Developer</h3>
            <h3><span> language : </span> Arabic</h3>
            <a href="../assets/Mohamed Samir-cv.pdf" target="_blank" download><button class="btn">download CV <i class="fas fa-download" download></i></button></a>
        </div>

        <div class="counter col-8">
            <div class="col-3 box">
                <span>2+</span>
                <h3>years of experience</h3>
            </div>

            <div class="col-3 box">
                <span>10+</span>
                <h3>porject completed</h3>
            </div>

            <div class="col-3 box">
                <span>100+</span>
                <h3>happy clients</h3>
            </div>

            <div class="col-3 box">
                <span>20+</span>
                <h3>awards won</h3>
            </div>
        </div>
    </div>
</section>

<!-- about section ends -->