<!-- header section starts  -->

<header>
    <div class="user">
        <img src="../assets/images/1.JPG" alt="" />
        <h3 class="name">Mohamed Samir</h3>
        <p class="post">Back-End Web Developer</p>
    </div>

    <nav class="navbar">
        <ul class="w-100">
            <li class="nav-item"><a class="nav-link" href="#home">home</a></li>
            <li class="nav-item"><a class="nav-link" href="#about">about</a></li>
            <li class="nav-item"><a class="nav-link" href="#education">education</a></li>
            <li class="nav-item"><a class="nav-link" href="#portfolio">portfolio</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact">contact</a></li>
        </ul>
    </nav>
</header>

<!-- header section ends -->

<div id="menu" class="fas fa-bars"></div>

<!-- home section starts  -->