<!-- education section starts  -->

<section class="education" id="education">
    <h1 class="heading">my <span>education</span></h1>

    <div class="container-fluid ">
        <div class="row box-container">
            <div class="col-4 box">
                <i class="fas fa-graduation-cap"></i>
                <span>2016 -2020</span>
                <h3>Bachelor of Computer Science</h3>
                <p>Faculty of computers and informations .</p>
                <p>Delta Academy .</p>
            </div>

            <div class="col-4 box">
                <i class="fas fa-graduation-cap"></i>
                <span>Jan 2020- Apr 2020</span>
                <h3>Creativo</h3>
                <p>Web Design And Web Development using (php , mysql) .</p>
            </div>

            <div class="col-4 box">
                <i class="fas fa-graduation-cap"></i>
                <span>May 2020 - Jul 2020</span>
                <h3>Ipda3-tech</h3>
                <p>Back-end laravel developer .</p>
            </div>

        </div>
        <div class="row box-container">
            <div class="col-4 box">
                <i class="fas fa-graduation-cap"></i>
                <span>Sep 2020 - Oct 2020</span>
                <h3>NTI</h3>
                <p>Web Design</p>
            </div>

            <div class="col-4 box">
                <i class="fas fa-graduation-cap"></i>
                <span>Oct 2020 - Dec 2020</span>
                <h3>NTI</h3>
                <p>Web Development (php ,mysql and laravel) .</p>
            </div>

            <div class="col-4 box">
                <i class="fas fa-graduation-cap"></i>
                <span>jan 2021 - Mar 2021</span>
                <h3>ITI</h3>
                <p>3 Month Professional Program of Full-stack Web Dev Using PHP.</p>
            </div>

        </div>
    </div>
</section>

<!-- education section ends -->